<template>
  <div v-if="hasItems" class="card mb-5">
    <div class="card-header">Total number of results: {{ size }}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div v-for="item in value" :key="item.id" class="card mb-3">
            <a
              :href="`${item.rawPlayer}?token=${auth.user.accessToken}`"
              target="_blank"
              class="card-item d-block text-decoration-none text-reset"
            >
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img
                    :src="item.keyframe"
                    class="card-img w-100 h-100"
                    alt="item.fullTitle"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.fullTitle }}</h5>
                    <p class="card-text">
                      <strong>Category:</strong>{{ item.category }}
                    </p>
                    <p class="card-text">
                      <small class="text-muted">
                        <strong>Classification:</strong>
                        {{ item.classification }}
                      </small>
                      <small class="text-muted">
                        <strong>Channel:</strong> {{ item.channel }}
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
      required: true
    }
  },
  data() {
    return {}
  },
  computed: {
    size() {
      return this.value.length
    },
    hasItems() {
      return this.size > 0
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  &-item {
    &:hover {
      background-color: #f9f9f9;
    }
  }
  &-img {
    object-fit: cover;
  }
}
</style>
