<template>
  <div class="">
    <nav-bar />
    <router-view />
  </div>
</template>

<script>
import NavBar from './../Navbar.vue'

export default {
  components: { NavBar }
}
</script>

<style lang="scss" scoped></style>
