<template>
  <div v-if="loading" class="container">
    <div class="row align-items-center justify-content-center min-vh-100">
      <div class="col-9">
        <form action="" @submit.prevent="onSubmit">
          <div class="card">
            <div class="card-body">
              <b-alert :show="errors.any()" dismissible variant="danger">
                <span>{{ errors.getMessage() }}</span>
                <ul class="m-0 px-3">
                  <li v-for="(value, key) in errors.all()" :key="key">
                    {{ errors.first(key) }}
                  </li>
                </ul>
              </b-alert>

              <div class="form-group">
                <label for="inputUserSelector">User selector</label>
                <select
                  id="inputUserSelector"
                  v-model="selected"
                  name="selected"
                  class="form-control"
                >
                  <option :value="null" selected>
                    Please select a user to login as
                  </option>
                  <option
                    v-for="user in users"
                    :key="user.uniqueId"
                    :value="user"
                  >
                    {{ user.firstName }} {{ user.lastName }}
                  </option>
                </select>
              </div>
              <div v-if="selected != null" class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group row m-0">
                        <label
                          for="inputUniqueId"
                          class="col-sm-4 col-form-label"
                        >
                          <strong>Unique ID</strong>
                        </label>
                        <div class="col-sm-8">
                          <input
                            id="inputUniqueId"
                            v-model="selected.uniqueId"
                            type="text"
                            name="uniqueId"
                            class="form-control-plaintext"
                            readonly
                          />
                        </div>
                      </div>
                      <div class="form-group row m-0">
                        <label for="inputEmail" class="col-sm-4 col-form-label">
                          <strong>Email</strong>
                        </label>
                        <div class="col-sm-8">
                          <input
                            id="inputEmail"
                            v-model="selected.email"
                            type="text"
                            name="email"
                            class="form-control-plaintext"
                            readonly
                          />
                        </div>
                      </div>
                      <div class="form-group row m-0">
                        <label
                          for="inputInstitutionName"
                          class="col-sm-4 col-form-label"
                        >
                          <strong>Institution Name</strong>
                        </label>
                        <div class="col-sm-8">
                          <input
                            id="inputInstitutionName"
                            v-model="selected.institutionName"
                            type="text"
                            name="institutionName"
                            class="form-control-plaintext"
                            readonly
                          />
                        </div>
                      </div>
                      <div class="form-group row m-0">
                        <label for="inputAgeId" class="col-sm-4 col-form-label">
                          <strong>AGEID</strong>
                        </label>
                        <div class="col-sm-8">
                          <input
                            id="inputAgeId"
                            v-model="selected.ageid"
                            type="text"
                            name="ageid"
                            class="form-control-plaintext"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group row m-0">
                        <label
                          for="inputFirstName"
                          class="col-sm-4 col-form-label"
                        >
                          <strong>First Name</strong>
                        </label>
                        <div class="col-sm-8">
                          <input
                            id="inputFirstName"
                            v-model="selected.firstName"
                            type="text"
                            name="firstName"
                            class="form-control-plaintext"
                            readonly
                          />
                        </div>
                      </div>
                      <div class="form-group row m-0">
                        <label
                          for="inputLastName"
                          class="col-sm-4 col-form-label"
                        >
                          <strong>Last Name</strong>
                        </label>
                        <div class="col-sm-8">
                          <input
                            id="inputLastName"
                            v-model="selected.lastName"
                            type="text"
                            name="lastName"
                            class="form-control-plaintext"
                            readonly
                          />
                        </div>
                      </div>
                      <div class="form-group row m-0">
                        <label
                          for="inputIsTeacher"
                          class="col-sm-4 col-form-label"
                        >
                          <strong>Is teacher</strong>
                        </label>
                        <div class="col-sm-8">
                          <input
                            id="inputIsTeacher"
                            v-model="selected.isTeacher"
                            type="text"
                            name="isTeacher"
                            class="form-control-plaintext"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card-footer d-flex align-items-center justify-content-end"
            >
              <button
                type="submit"
                class="btn btn-primary"
                :disabled="isWorking"
              >
                <div
                  v-show="isWorking"
                  class="spinner-border spinner-border-sm"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>
                Login
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from '@/util/Errors'

export default {
  data() {
    return {
      users: [
        {
          uniqueId: '345abc',
          email: 'library@kildare.catholic.edu.au',
          institutionName: 'Kildare College',
          ageid: '14053',
          firstName: 'Tammie',
          lastName: 'Haythorpe',
          isTeacher: true
        },
        {
          uniqueId: '29289',
          email: 'kandr8-sample@eq.edu.au',
          institutionName: 'Mansfield State High School',
          ageid: '11289',
          firstName: 'Sample',
          lastName: 'Teacher',
          isTeacher: true
        }
      ],
      selected: null,
      submitted: false,
      errors: new Errors(),
      loading: false
    }
  },
  computed: {
    isWorking() {
      return this.submitted
    }
  },
  watch: {
    'auth.app': {
      immediate: true,
      handler: async function(newVal) {
        if (this.$_.isEmpty(newVal)) {
          this.setApp(await this.fetchApp())
        }
        this.loading = true
      }
    }
  },
  methods: {
    async fetchApp() {
      const payload = {
        grant_type: 'client_credentials',
        client_id: 4,
        client_secret: 'Wh3lxambFshwu1lqOnbrEMZEGaS3ffpca2dAfnVR',
        scope: 'PARTNER'
      }

      const { data } = await this.$axios.post(
        'https://stag-api.enhancetv.com.au/oauth/token',
        payload
      )

      return data
    },
    setApp(payload) {
      this.updateApp(payload)
    },
    setUser(payload) {
      this.updateUser(payload)
    },
    startSubmit() {
      this.submitted = true
    },
    endSubmit() {
      this.submitted = false
    },
    clearErrors() {
      this.errors.clearAll()
    },
    async onSubmit() {
      this.startSubmit()
      this.clearErrors()

      if (this.selected == null) {
        setTimeout(() => {
          this.errors = new Errors('Select a user to login.')
          this.endSubmit()
        }, 1000)

        return
      }

      const { app } = this.auth
      const payload = this.selected
      const headers = { Authorization: app.access_token }

      try {
        const {
          data
        } = await this.$axios.post(
          'https://stag-api.enhancetv.com.au/api/user',
          payload,
          { headers }
        )

        this.setUser({ ...this.selected, ...data })
        this.$router.push({ name: 'search' })
      } catch (error) {
        if (error.response.status == 422) {
          this.errors = new Errors(
            error.response.data.message,
            error.response.data.errors
          )
        }

        this.endSubmit()
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
