<template>
  <div class="container">
    <div class="row align-items-center justify-content-center mt-5">
      <div class="col-8">
        <form action="" @submit.prevent="onSubmit">
          <div class="card">
            <div class="card-header">
              Filters
            </div>
            <div class="card-body">
              <b-alert :show="errors.any()" dismissible variant="danger">
                <span>{{ errors.getMessage() }}</span>
                <ul class="m-0 px-3">
                  <li v-for="(value, key) in errors.all()" :key="key">
                    {{ errors.first(key) }}
                  </li>
                </ul>
              </b-alert>

              <div class="form-group row">
                <label for="inputKeywords" class="col-sm-3 col-form-label">
                  Search Keywords
                </label>
                <div class="col-sm-9">
                  <input
                    id="inputKeywords"
                    v-model="form.keywords"
                    type="text"
                    name="keywords"
                    class="form-control"
                    placeholder="Enter keywords"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <div class="form-check">
                    <input
                      id="checkboxFederatedSearch"
                      v-model="form.federatedSearch"
                      type="checkbox"
                      name="federatedSearch"
                      class="form-check-input"
                    />
                    <label
                      class="form-check-label"
                      for="checkboxFederatedSearch"
                    >
                      Federated search
                    </label>
                  </div>
                </div>
              </div>
              <div v-show="form.federatedSearch" class="">
                <div class="form-group row">
                  <label for="inputYears" class="col-sm-3 col-form-label">
                    Years
                  </label>
                  <div class="col-sm-9">
                    <div class="d-flex flex-wrap">
                      <div
                        v-for="(year, index) in years"
                        :key="index"
                        class="form-check mr-3"
                      >
                        <input
                          :id="`checkbox${year.name}`"
                          v-model="form.years"
                          type="checkbox"
                          :name="year.name"
                          class="form-check-input"
                          :value="year.value"
                        />
                        <label
                          class="form-check-label"
                          :for="`checkbox${year.name}`"
                        >
                          {{ year.name }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputSubjects" class="col-sm-3 col-form-label">
                    Subjects
                  </label>
                  <div class="col-sm-9">
                    <select
                      id="inputSubjects"
                      v-model="form.subjects"
                      name="subjects"
                      class="form-control"
                    >
                      <option :value="null" selected>All Subjects</option>
                      <option
                        v-for="(subject, index) in subjects"
                        :key="index"
                        :value="subject"
                      >
                        {{ subject }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card-footer d-flex align-items-center justify-content-end"
            >
              <button
                type="submit"
                class="btn btn-primary"
                :disabled="isWorking"
              >
                <div
                  v-show="isWorking"
                  class="spinner-border spinner-border-sm"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-5">
      <div class="col-8">
        <search-item :value="videos" />
      </div>
    </div>
  </div>
</template>

<script>
import Errors from '@/util/Errors'
import SearchItem from '@/components/Sections/Search/SearchItem.vue'

export default {
  components: { SearchItem },
  data() {
    return {
      years: [
        { name: 'F', value: 'F' },
        { name: '1-2', value: '1,2' },
        { name: '3-4', value: '3,4' },
        { name: '5-6', value: '5,6' },
        { name: '7-8', value: '7,8' },
        { name: '9-10', value: '9,10' },
        { name: '11-12', value: '11,12' }
      ],
      subjects: [
        'Ancient history',
        'Asia and Australia',
        'Biology',
        'Business and economics',
        'Chemistry',
        'Civics and citizenship',
        'Critical thinking',
        'Dance',
        'Design and technologies',
        'Digital technologies',
        'Drama',
        'EALD',
        'Earth and environment',
        'English',
        'Ethical understanding',
        'Geography',
        'Health and PE',
        'History',
        'ICT capability',
        'Indigenous Australians',
        'Intercultural understanding',
        'Languages',
        'Literacy',
        'Literature',
        'Mathematics',
        'Media arts',
        'Modern history',
        'Music',
        'News and current affairs',
        'Numeracy',
        'Personal and social capability',
        'Physics',
        'Religious studies',
        'Science',
        'Sustainability',
        'Visual arts'
      ],
      form: {
        keywords: null,
        federatedSearch: false,
        years: [],
        subjects: null
      },
      videos: [],
      submitted: false,
      errors: new Errors()
    }
  },
  computed: {
    isWorking() {
      return this.submitted
    }
  },
  methods: {
    startSubmit() {
      this.submitted = true
    },
    endSubmit() {
      this.submitted = false
    },
    clearErrors() {
      this.errors.clearAll()
    },
    setVideos(value) {
      this.videos = value
    },
    getPayload() {
      const payload = {}

      this.$_.forEach(this.form, (value, key) => {
        if (value) {
          switch (key) {
            case 'years':
              if (value.length > 0) {
                payload[key] = value.join(',')
              }
              break
            default:
              payload[key] = value
              break
          }
        }
      })

      return payload
    },
    async onSubmit() {
      this.startSubmit()
      this.clearErrors()

      const { user } = this.auth
      const params = this.getPayload()
      const headers = {
        Authorization: user.accessToken
      }

      try {
        const { data } = await this.$axios.get(
          'https://stag-api.enhancetv.com.au/api/search',
          {
            params,
            headers
          }
        )

        this.setVideos(data.videos)
      } catch (error) {
        if (error.response.status == 401 || error.response.status == 422) {
          this.errors = new Errors(
            error.response.data.message,
            error.response.data.errors
          )
        }
      } finally {
        this.endSubmit()
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
