<template>
  <nav class="navbar px-5">
    <span class="navbar-brand text-white mb-0 h1">Partner App Demo</span>
    <ul class="navbar-nav flex-row">
      <li class="nav-item mx-3">
        <span class="navbar-text">
          {{ name }}
        </span>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger" @click="onLogout">Logout</button>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {}
  },
  computed: {
    name() {
      const { firstName } = this.auth.user
      const { lastName } = this.auth.user
      const { institutionName } = this.auth.user

      return `${firstName} ${lastName} (${institutionName})`
    }
  },
  methods: {
    removeItems() {
      window.localStorage.removeItem('user')
    },
    onLogout() {
      this.removeItems()
      this.$router.push({ name: 'home' })
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  background-color: #12bfac;
}
</style>
